<html>
    <head>
      <!-- Font Awesome -->
<link
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
  rel="stylesheet"
/>
<!-- Google Fonts -->
<link
  href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
  rel="stylesheet"
/>
<!-- MDB -->
<link
  href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.0.0/mdb.min.css"
  rel="stylesheet"
/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

        <title>Muhammed Sirajudeen</title>
        <style>
          
          .dark-mode{
            background-color: black;
            color:white;
          }
        </style>
       
    </head>
    <body>
      <!-- MDB -->
<script
  type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.0.0/mdb.min.js"
></script>

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    

     <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

<div class="pos-f-t"> 
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
      <h4 class="text-white">Muhammed Sirajudeen</h4>
      <span class="text-muted">Explore My skills</span>
    </div>
  </div>
  <nav class="navbar navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
</div>     


<div class="container">
  <div class="row  ">
    <div class=" col-lg-5  p-3  text-left" >
    
<img class="image-fluid mx-auto text-left hover-shadow" src="../images/siraju.jpg"  width="400" height="400" id="siraju">

</div>
<div class=" col-lg-7  my-auto   text-center p-3">
  <h3>Muhammed <br/>Sirajudeen</h3>
  <p class="p-3">looking to implement science fiction</p>
  
</div></div></div>
<div class="container">
  <div class="row ">
    <div class="col-md-4 col-lg-4 text-center p-3">

 <img class="image2 tt" src="./images/open-book.png" width="70" height="70" id="educ" data-bs-placement="top" title="Education">

</div>

<div class="col-md-4 col-lg-4 text-center p-3">
<img class="image4 tt" src="./images/notebook-of-contacts.png" width="70" height="70" id="cont" data-bs-placement="top" title="Contact Info:+91-7907140006 muhammedsirajudeen29@gmail.com">
</div>
<div class="col-md-4 col-lg-4 text-center p-3">
  <img class="image2 tt" src="./images/skill.png" width="70" height="70" id="skill" data-bs-placement="top" title="Skillset">
</div>
</div>
</div>
 

<script>
  function Dark(){
    var element=document.body;
    element.classList.toggle("dark-mode");

  }
</script>
<div class="container">
  <div class="row">
    <div class="col">
      <h2 class="text-center" id="heading">Skills</h2>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class=" col-lg-4 p-2">
      <div class="card mx-auto" style="width: 18rem;" id="card1">
  <img class="card-img-top " src="./images/machine-learning.jpg" alt="Card image cap">
  <div class="card-body">
    <ul>
      <li>Machine Learning</li>
      
      
    </ul>
    <p>Machine Learning is the process of analysing data and 
      building the models and predicting the future
    </p>
  </div>
</div>
    </div>
    <div class="col-lg-4 p-2">
      <div class="card  image7 mx-auto" style="width: 18rem;" id="card2">
  <img class="card-img-top" src="./images/software-engineering.jpg" alt="Card image cap">
  <div class="card-body">
    <ul><li>
      Software Engineering
    </li></ul>
    <p>This is the process of developing software and also dealing with the software development
      cycle </p>
  </div>
</div>
    </div>
    <div class="col-lg-4 p-2 " >
      <div class="card  mx-auto" style="width: 18rem;" id="card3">
  <img class="card-img-top " src="./images/embedded.jpg" alt="Card image cap">
  <div class="card-body">
    <ul>
      <li>
        Embedded Systems 
      </li>
    </ul>
    <p>This domain mainly deals with softwarea interacting with hardware</p>
  </div>
</div>
    </div>
  </div>
</div>

<footer>
<div class="container">
  <div class="row">
  <div class="col text-center">
  
 <img class="image5 my-auto" src="./images/dark-mode.png" width="40" height="40" onclick="Dark()" id="darkm">  
</div>
</div>
</div>

</footer>
   
      <script>
      $(document).ready(function(){
        $("#siraju").mouseenter(function(){
          $("#skill").show(1500)
          $("#educ").show(1500)
          $("#cont").show(1500)
          
        })
         
      
          
        })
       </script>
       <script>
         $(document).ready(function()
         {
           $("#skill").mouseenter(function(){
             $("#card1").show(800)
             $("#heading").show(800)
             $("#card2").show(800)
             $("#card3").show(800)
           })
         })
       </script>

    <script>
      const tooltips=document.querySelectorAll('.tt')
      tooltips.forEach(t=>{
        new bootstrap.Tooltip(t)
      })
    </script>
    </div>
    </div>
    </body>
</html>