body {
  background-image: url("../images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.image1{
  position: absolute;
  left: 510px;
  top: 150px;
  
  border-radius: 100px;
}

.image2{
  position:absolute;
  left: 450px;
  top: 150px;

}
.image3{
  position:absolute;
  right: 450px;
  top: 150px;

}

.image4{
  position:absolute;
  
  right: 620px;
  top: 430px;

}
.image5{
  position:absolute;
  bottom: 20px;
  right: 640px;
}
#skillinfo{
  display: none;
}


