
#siraju{
  position: relative;
  
  
  
  
  border-radius: 100px;
}

.image2{
  position:relative;
  /*left: 450px;
  top: 150px;
  margin-left: 10%;*/
  display: none;

}
.image3{
  position:relative;
  /*right: 450px;
  top: 150px;*/
  display: none;

}

.image4{
  position:relative;
  
  /*right: 620px;
  top: 430px;*/
  display: none;

}

#skillinfo{
  display: none;
}
.image5{
  position: relative;
  margin-bottom: 10%;
}
.null{
  position:absolute;
  left: 30px;
}
.null1{
  position:absolute;
  right: 30px;
  top:90px;
  
}
#row1{
  height:100px;
  
}
#row2{
  height:200px;
}
#card1{
  display: none;
}
.image7{
  display: none;
}
.image8{
  display: none;
}
#heading{
  display: none;
}
#card2{
  display: none;
  
}
#card3{
  display: none;
}
#card4{
  display:none;
}
#educhead{
  display:none;
}


