body {
  background-image: url("../images/background.jpg");
  position:relative;
  background-size: 100% 100vh;
  
  background-repeat: no-repeat;
}
.image1{
  position: absolute;
  
  
  
  
  border-radius: 100px;
}

.image2{
  position:absolute;
  /*left: 450px;
  top: 150px;
  margin-left: 10%;*/
  display: none;

}
.image3{
  position:absolute;
  /*right: 450px;
  top: 150px;*/
  display: none;

}

.image4{
  position:absolute;
  
  /*right: 620px;
  top: 430px;*/
  display: none;

}

#skillinfo{
  display: none;
}
.image5{
  margin-bottom: 10%;
}
.null{
  position:absolute;
  left: 30px;
}
.null1{
  position:absolute;
  right: 30px;
  top:90px;
  
}
#row1{
  height:100px;
  
}
#row2{
  height:100px;
}


